<div class="header">-</div><div class="row">
<div class="col-md-6">
<h3>Day 1</h3>
<table class="table table-striped">
<tr><th>Start</th><th>Duration (minutes)</th><th>End</th><th>Episode</th></tr>
<tr>
	<td>09:00</td><td></td><td>09:00</td><td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Pre-workshop Survey</a></td>
</tr>
<tr>
	<td>09:00</td><td>10</td><td>09:10</td><td><a href="null">Introduction</a></td>
</tr>
<tr>
	<td>09:10</td><td>15</td><td>09:25</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/01-run-quit.html">Running and Quitting</a></td>
</tr>
<tr>
	<td>09:25</td><td>20</td><td>09:45</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/02-variables.html">Variables and Assignment</a></td>
</tr>
<tr>
	<td>09:45</td><td>20</td><td>10:05</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/03-types-conversion.html">Data Types and Type Conversion</a></td>
</tr>
<tr>
	<td>10:05</td><td>25</td><td>10:30</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/04-built-in.html">Built-in Functions and Help</a></td>
</tr>
<tr>
	<td>10:30</td><td>15</td><td>10:45</td><td><a href="null">BREAK</a></td>
</tr>
<tr>
	<td>10:45</td><td>20</td><td>11:05</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/06-libraries.html">Libraries</a></td>
</tr>
<tr>
	<td>11:05</td><td>20</td><td>11:25</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/07-reading-tabular.html">Reading Tabular Data into DataFrames</a></td>
</tr>
<tr>
	<td>11:25</td><td>30</td><td>11:55</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/08-data-frames.html">Pandas DataFrames</a></td>
</tr>
<tr>
	<td>11:55</td><td>35</td><td>12:30</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/09-plotting.html">Plotting</a></td>
</tr>
<tr>
	<td>12:30</td><td>60</td><td>13:30</td><td><a href="-">LUNCH</a></td>
</tr>
<tr>
	<td>13:30</td><td>20</td><td>13:50</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/11-lists.html">Lists</a></td>
</tr>
<tr>
	<td>13:50</td><td>30</td><td>14:20</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/12-for-loops.html">For Loops</a></td>
</tr>
<tr>
	<td>14:20</td><td>25</td><td>14:45</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/13-conditionals.html">Conditionals</a></td>
</tr>
<tr>
	<td>14:45</td><td>15</td><td>15:00</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/14-looping-data-sets.html">Looping Over Data Sets</a></td>
</tr>
<tr>
	<td>15:00</td><td>15</td><td>15:15</td><td><a href="-">BREAK</a></td>
</tr>
<tr>
	<td>15:15</td><td>45</td><td>16:00</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/16-writing-functions.html">Writing Functions</a></td>
</tr>
<tr>
	<td>16:00</td><td>30</td><td>16:30</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/17-scope.html">Variable Scope</a></td>
</tr>
<tr>
	<td>16:30</td><td>30</td><td>17:00</td><td><a href="https://swcarpentry.github.io/python-novice-gapminder/18-style.html">Programming Style</a></td>
</tr>
<tr>
	<td>17:00</td><td></td><td>17:00</td><td><a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank" rel="noopener noreferrer">Post-workshop Survey</a></td>
</tr>
<tr>
	<td>17:00</td><td></td><td>17:00</td><td><a href="-">FINISH</a></td>
</tr>
</table>
</div>
</div>
